{{- if .Values.alertflowRunner.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ include "alertflow.fullname" . }}-alertflow-runner"
  labels:
    {{- include "alertflow.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.alertflowRunner.replicas }}
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      {{- include "alertflow.alertflowRunner.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app.kubernetes.io/name: "{{ include "alertflow.fullname" . }}-alertflow-runner"
        app.kubernetes.io/instance: "{{ include "alertflow.fullname" . }}-alertflow-runner"
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "alertflow.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: runner
          image: "{{ .Values.alertflowRunner.repository }}:{{ .Values.alertflowRunner.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.alertflowRunner.pullPolicy }}
          ports:
            - name: runner-port
              containerPort: {{ .Values.alertflowRunner.service.target_port }}
          {{- if .Values.alertflowRunner.configMap.enabled }}
          volumeMounts:
            - name: runner-config
              mountPath: /app/config/config.yaml
              subPath: config.yaml
              readOnly: true
            {{- if .Values.alertflowRunner.persistence.enabled }}
            - name: runner-plugins
              mountPath: /app/plugins
            {{- end }}
          {{- end }}
          readinessProbe:
            httpGet:
              path: /ready
              port: runner-port
            initialDelaySeconds: 15
            periodSeconds: 10
      volumes:
        - name: runner-config
          configMap:
            name: {{ include "alertflow.fullname" . }}-alertflow-runner-config
            items:
              - key: config.yaml
                path: config.yaml
        {{- if .Values.alertflowRunner.persistence.enabled }}
        - name: runner-plugins
          persistentVolumeClaim:
            claimName: "{{ include "alertflow.fullname" . }}-alertflow-runner-plugin-pvc"
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
